@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #fbf4fd;
    margin: 0;
    padding: 0;
}

.main-container{
    width: 100%;
    height: auto;
}

.wsa-icon-container{
    margin: 40px 60px;
}

.wsa-icon{
    height: 50px;
    width: 150px;
}

.sub-container{
    height: 450px;
    width: 100%;
    /* background-color: blueviolet; */
}

.header-container{
    float: left;
    width: 50%;
    margin-top: 60px;
}

.header{
    color: #000000;
    font-size: 60px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 60px;
}

.calculator-container{
    width: 50%;
    height: 450px;
    float: right;
    /* background-color: red;   */
}

.background-circle{
    background-color: #F5EAF9;
    /* width: 460px;
    height: 460px; */
    width: 520px;
    height: 520px;
    border-radius: 50%;
    position: absolute;
    /* z-index: 2; */
}

.calculator{
    /* width: 300px;
    height: 470px; */
    width: 360px;
    height: 530px;
    background-color: #ffffff;
    position: relative;
    left: 69px;
    bottom: 13px;
    border: 10px solid #e2e2e2;
    border-radius: 33px;
}

.output-field-container{
    background-color: #f3f2f2;
    width: 325px;
    height: 110px;
    border-radius: 20px;
    border: none;
    margin: 12px 16px;
}


/* .input-reference-field{
    pending
} */

.output-field, .input-field{
    background-color: #F3F2F2;
    width: 94%;
    padding: 10px 5px 0px 5px;
    margin: 1px 3px;
    font-size: 35px;
    border: none;
    border-radius: 20px;
    text-align: end;
}

.output-field:focus{
    outline: none;
}
.input-field:focus{
    outline: none;
}

.button-row{
    align-items: center;
    margin-left: 10px;
}

button{
    margin: 7px;
    width: 51px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

button:hover{
    cursor: pointer;
    color: white;
    background-color: #2a2828;
}

.bg-icon{
    background-color: #fceebd;
}

.bg-icon:hover{
    background-color: #fff7d8;
}

button>i{
    color: #bd882a;
    font-size: 15px;
}

button:hover>i{
    color: white;
}

.zero{
    width: 120px;
}

.equals-icon{
    background-color: #ffc138;
    position: absolute;
    height: 115px;
    width: 55px;
}


footer{
    margin-top: 30px;
    height: 100px;
    display: flex;
    align-items: end;
    justify-content: start;
    padding-left: 60px;
}

/* Adding new css */

.clear-icon{
    width: 120px;
}
.delete-icon{
    width: 120px;
}


/* Making it responsive for tablet and mobile device screen */
@media (max-width: 768px){
    body{
        margin: auto;
        padding: 20px;
        height: 100vh;
        width: 100vw;
    }

    .main-container{
        height: 100vh;
        width: 100vw;
    }

    .wsa-icon-container{
        display: flex;
        margin: 0px;
        align-items: center;
        justify-content: center;
    }

    .sub-container{
        display: flex;
        flex-direction: column;
    }

    .header-container{
        margin: 0px;
        width: 100%;
    }

    .header{
        text-align: center;
        font-size: 30px;
        padding: 10px;
    }

/* Main calculator body */
    .calculator-container{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;
    }

    .background-circle{
        width: calc(100vw - 340px);
        height: calc(100vh - 340px);
        /* z-index: 2; */
    }

    .calculator{
        top: 5px;
        transform: translateX(-24%);
        width: calc(100vw - 480px);
        height: calc(100vh - 310px);
        border-radius: 25px;
    }    
/* responsive output */

    .output-field-container{
        width: fit-content;
        height: 100px;
    }

    .output-field, .input-field{
        width: 94%;
        padding: 5px 5px 0px 5px;
        margin: 1px 3px;
        font-size: 30px;
    }

/* Setting up the keys */

    .button-row{
        align-items: center;
        margin-left: 10px;
    }
    
    button{
        margin: 5px;
        width: 40px;
        height: 40px;
        border-radius: 8px;
        font-size: 15px;
    }

    .zero{
        width: 95px;
    }
    
    .equals-icon{
        position: absolute;
        height: 89px;
        width: 42px;
    }

    .clear-icon{
        width: 95px;
    }
    .delete-icon{
        width: 95px;
    }

    .fun{
        font-size: 12px;
    }

    button:active{
        background-color: #2a2828;
    }
    
    footer{
        width: 85%;
        margin-top: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}